/* Responsive styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #282c34;
  width: 100%;
  padding: 10px;
}

.navbar button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin: 5px;
}

.navbar button:hover {
  background-color: #0056b3;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  width: 100%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Styling for predictions and pagination */
.predictions {
  margin-top: 20px;
  text-align: left;
  width: 100%;
  padding: 20px;
}

.predictions h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.predictions-list {
  list-style-type: none;
  padding: 0;
}

.predictions-list li {
  margin-bottom: 5px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
}

.pagination button:hover {
  background-color: #0056b3;
}
